@media (max-width: 1200px)
    .hamburger
        display: none
    .menu
        &_item
            padding-right: 21px
        &_link
            font-size: 13px
    .promo_header
        font-size: 50px
    .reasons_descr
        width: 300px
    .reasons_block
        align-items: flex-start

    .mobile
        &_item
            width: 300px
    .condition
        padding: 40px 0 20px 0
        &_under
            line-height: 1.3
        &_requaire
            padding-top: 30px
    .footer
        &_media
            transform: translateY(0%)
            align-items: center
        &_download_item
            flex-direction: column
            li
                padding-top: 10px
                padding-right: 30px
@media (max-width: 991px)

    .menu
        &_item
            padding-right: 10px
        &_link
            font-size: 10px
    .subheader
        &_logo
            img
                width: 100%
        &_official
            font-size: 11px
        &_phone
            font-size: 20px
        &_btn
            width: 100%
            height: 40px
            margin-top: 20px
    .promo
        &_header
            font-size: 40px
        &_subheader
            font-size: 30px
    .reasons
        &_descr
            width: 300px
            margin-top: 15px
        &_block
            flex-direction: column
            align-items: center

    .mobile
        &_item
            width: 220px
            height: 220px
            padding-top: 60px
            &_text
                font-size: 19px
    .condition
        padding: 40px 0 20px 0
        &_under
            font-size: 15px
            line-height: 1.3
        &_requaire
            padding-top: 30px
@media (max-width: 767px)
    .hamburger
        display: block
        &_active
            span
                &:nth-child(1)
                    transform: translateY(3px) rotate(45deg)
                    margin-bottom: -2px
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(-45deg)
                    margin-bottom: 2px

    .menu
        position: fixed
        flex-direction: column
        justify-content: center
        align-items: start
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        background-color: rgba(0,0,0,0.8)
        transition: 0.8s all
        &_active
            left: 0
        &_link
            font-size: 20px
        &_item
            border: none
            padding-right: 0
            margin: 10px 0

    .subheader
        &_logo

        &_official
            display: none
        &_call
            display: none
@media (max-width: 575px)
    .hamburger
        display: block
    header
        height: 30px
    nav
        height: 30px
    .subheader
        top: 30px
        &_logo
            width: 130px
            height: 15px
